
.card {
    border-style: none;
    max-width: 95%;
    margin: auto;
    box-shadow: var(--shadow);
    width: 450px;
    margin-bottom: 20px;
}

.card-header {
    background-image: var(--purple-gradient);
    color: white;
    text-shadow: var(--text-shadow);
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    font-family: "Inter var";
}

.card-actions {

    margin-top:22px;

    justify-content: center;
    display: flex;
}
