

div.dropdown-menu {
    background-color: var(--purple-2);
    background-image: var(--purple-gradient);
    color: white;
    box-shadow: var(--shadow);
}

.dropdown-item, 
.dropdown-item {
    color: white;
    text-decoration: none;
    text-shadow: var(--text-shadow);
    font-weight: 600px;
    font-size: 16px;
}

.dropdown-item:hover, 
.dropdown-item:focus {
    color: white;
    text-decoration: none;
    background-color: var(--purple-1);
}