


.toast {
    background-color: var(--translucent-purple-2);
    position: fixed;
    bottom: 11px; 
    left: 50%;
    transform: translate(-50%,0%);
    color: white;
    font-weight: 600;
    width: 200px;
    text-align: center;
    font-size: 18px;
    box-shadow: var(--shadow);
    text-shadow: var(--text-shadow);
    border-style: none;
}