
<div class="modal-body">

    <!-- <div class="modal-icon">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
    </div> -->

    <h4 class="modal-title" id="modal-title">{{title}}</h4>

    <p>{{ message }}</p>

</div>




<div class="modal-footer">
     <button type="button" ngbAutofocus class="btn btn-outline-primary" (click)="modal.close('Ok click')">Close</button>
</div>
