@import '~bootstrap/scss/bootstrap';


/* Inter Var font */
@import url('https://rsms.me/inter/inter.css');

html { font-family: 'Inter', sans-serif; }

@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}



:root {
    --gray: #6b7382;
    --purple-1: rgb(160, 89, 226);
    --purple-2: rgb(147, 51, 234);
    --light-purple-1: #d5beea;
    --light-purple-2: #b7a1fa;
    --error-color:  #ff1e61;
    --shadow:  rgba(0, 0, 0, 0.2 ) 0px  8px 17px 0px, 
    rgba(0, 0, 0, 0.19) 0px 6px 20px 0px;
    --text-shadow: 2px 5px 4px rgba(0, 0, 0, 0.2);
    --purple-gradient: linear-gradient(to right bottom, rgb(217, 70, 239), rgb(147, 51, 234));
    --purple-gradient-inverse: linear-gradient(to right bottom, rgb(217, 70, 239), rgb(147, 51, 234));
    --translucent-purple-2: rgb(147, 51, 234, 0.9);
    --light: #d5beea;
    --info: rgb(147, 51, 234);
}

@import "./styles/avatar";
@import "./styles/buttons";
@import "./styles/cards";
@import "./styles/dropdown";
@import "./styles/forms";
@import "./styles/list";
@import "./styles/modal";
@import "./styles/progress";
@import "./styles/toast";

body {
    background: linear-gradient(to right bottom, rgb(236, 72, 153), rgb(244, 63, 94));
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;

    font-family: Inter var, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
    margin-bottom: 22px;;
}

.bg-primary {
    background-color: var(--purple-2) !important;
}

.ngb-dp-header {
    background-color: var(--light-purple-1);
}
.ngb-dp-weekdays {
    background-color: var(--light-purple-1);
}

img {
    max-width: 100%;
}

.logo {
    border-radius: 50%;
    background-color: white;
    width: 140px;
    height: 140px;
    margin: 22px auto 33px;
    box-shadow: var(--shadow);
}


.page {
    display: flex;
    flex-direction: column;
}



.no-text-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}


